* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin:0;
    padding: 0;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 1.4em;
}

.header a,
.main-text p {
    text-decoration: none;
    color:#e5e7eb;
    font-size: 18px;
}

.main-section {
    display: flex;
    background-color: #1F2937;
}

.main-text {
    display: flex;
    flex-direction: column;
    padding: 168px 100px 168px 250px;
    justify-content: center;
    align-items:flex-start;
}

.main-text h1,p,button {
    margin: 6px;
}

.main-text h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8
}

.main-text button {
    background-color: #3882f6;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px 28px;
    border-radius: 8px;
}

.main-image {
    width: 450px;
    height: 300px;
}

.main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 250px;
}

.information {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 50px 120px 50px;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 18px;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.information-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 200px;
}

.information-content p {
    color:#4e4444;
    text-align: center;
}

.info-img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 350px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 24px;
    text-align: right;
}

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 8px;
    margin: 120px 250px;
    padding: 42px 0;
}

.signup-text {
    color:#e5e7eb;
    display: flex;
    flex-direction: column; 
}

.signup-text p {
    margin: 0;
    font-size: 18px;
}

.signup-text h3 {
    margin: 0 0 2px 0;
    font-size: 28px;
}

.signup button {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    font-weight: 600;
    font-size: 18px;
    color: #e5e7eb;
    padding: 6px 28px;
    border-radius: 8px;
}

.footer {
    background-color: #1f2937;
    padding: 32px 0;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
}